.workout {
  margin: 15% auto;
  padding: 1em;
  height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0.5em 2em 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(0.344em);
  border-radius: 0.625em;
  border: 0.0625em solid rgba(255, 255, 255, 0.18);
}

.workout__title {
  text-transform: uppercase;
  overflow: hidden;
  margin-bottom: 1em;
  text-align: center;
}

.workout__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1em;
}

.workout__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.4em 0;
  margin: 0.4em 0;
}

.workout__label {
  text-align: center;
  padding-bottom: 0.2em;
}

.workout__input,
.workout__number,
.workout__selection {
  font-family: var(--ff-body);
  border-radius: 0.625em;
  background-color: transparent;
  border: none;
  color: hsl(var(--clr-primary));
  box-shadow: inset 0 0 4px 2px hsl(var(--clr-primary) / 0.4);
}

.workout__input {
  padding: 0.4em;
}

.workout__input::placeholder {
  color: hsl(var(--clr-secondary) / 0.8);
  padding: 1em;
}

.workout__number {
  width: 3em;
  height: 3em;
  padding: 0.2em;
  text-align: center;
}


.workout__check {
    height: 2em;
    width: 2em;
}

.workout__selection {
    margin-bottom: 3em;
    padding: 0.5em 1em;
    color: hsl(var(--clr-primary));
    background-color: hsl(var(--clr-dark) / 0.8);
}

.workout__selection::after {
    content: '';
    background-color: black;
}

@media (min-width: 55em) {
  .workout__form {
    display: grid;
    grid-template-areas:
      'title title title'
      'set rep weight'
      'duration . exercise-type'
      '. button .';
  }

  .exercise-name {
    grid-area: title;
  }

  .sets {
    grid-area: set;
  }

  .reps {
    grid-area: rep;
  }

  .weight-type {
    grid-area: weight;
  }

  .rest-period {
    grid-area: duration;
  }

  .workout-type {
    grid-area: exercise-type;
  }

  .submit-btn {
    grid-area: button;
  }
}
