@import '../../index.scss';

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;

  &__logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: $fw-bold;
    letter-spacing: 0.1265em;

    &--title {
      color: $clr-light;
      text-transform: uppercase;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    margin: 0.8em;
    position: relative;
    color: $clr-primary;
    border-radius: 50%;
  }

  .menu__trigger {
    display: flex;
    flex-direction: column;
    height: 3em;
    width: 3em;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    border: 0;
    position: relative;
    padding: 0.625em;
    cursor: pointer;

    span {
      display: inline-flex;
      width: 1.875em;
      height: 0.25em;
      border-radius: 1rem;
      background-color: $clr-primary;
      transition: all 500ms ease-in-out;
    }
  }

  .menu__close {
    span {
      position: absolute;
      background-color: $clr-primary;
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        opacity: 9;
        height: 0;
        width: 0;
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  background-color: transparent;
  z-index: 8;

  &__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    z-index: 9;
    width: 18.75em;
    right: 0;
    overflow: hidden;
  }

  &__layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    background: rgba($clr-primary, 0.2);
    box-shadow: 0 8px 32px 0 rgba($clr-secondary, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid $clr-secondary;
    z-index: -1;
  }

  &__nav {
    position: relative;
    width: 18.75em;
    padding-top: 3.125em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(1, 1, 30, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 10px;
    border: 1px solid $clr-primary;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__top {
    overflow: hidden;
    display: flex;
    height: calc(100% - 16.25em);
  }

  &__links {
    overflow: hidden;
    overflow-y: auto;
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-shrink: 0;
  }

  &__link {
    padding: 1em;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-weight: $fw-bold;
    width: 17.5em;

    &--section {
      color: $clr-light;
      text-shadow: 0 0 3px #000;
      background-color: darken($clr-primary, 20%);
      padding: 0.3em 3em;
      border-radius: 1em 0 0 1em;
      width: 100%;
      transform: scale(1);
      transition: all 500ms ease-in-out;

      &:hover,
      &:focus {
        scale: (1.05);
        box-shadow: 0 0 0.575em 0.0875em rgba(0, 0, 0, 0.8),
          0 0 1em 0.0625em rgba(0, 0, 0, 0.4),
          0 0 1em 0.0625em rgba($clr-primary, 0.85) inset;
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;

    &--title {
      padding-bottom: 2em;
      letter-spacing: 0.0625em;
      overflow: hidden;
      text-transform: uppercase;
    }
  }
  &__auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
  }

  &__login,
  &__register {
    border: 1px solid;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    color: $clr-light;
    letter-spacing: 0.125em;
    font-weight: $fw-bold;
    border-radius: 0.625em;
    box-shadow: 0 0 0.5em 0.25em rgba(0, 0, 0, 0.8),
      0 0 1em 0.0625em rgba(0, 0, 0, 0.4);
    transform: scale(1);
    transition: all 500ms ease-in-out;

    &:hover,
    &:focus {
      color: $clr-dark;
      transform: scale(1.05);
      box-shadow: 0 0 1em 0.125em rgba(0, 0, 0, 0.8),
        0 0 3em 0.125em rgba(0, 0, 0, 0.6);
    }
  }

  &__login {
    border-color: $clr-primary;

    &:hover,
    &:focus {
      background-color: rgba($clr-primary, 0.25);
      box-shadow: 0 0 1em 0.125em rgba(0, 0, 0, 0.8),
        0 0 3em 0.125em rgba(0, 0, 0, 0.6), 0 0 0.5em $clr-primary,
        0 0 1em 0.0625em $clr-primary inset;
    }
  }

  &__register {
    border-color: $clr-accent;

    &:hover,
    &:focus {
      background-color: rgba($clr-accent, 0.25);
      box-shadow: 0 0 1em 0.125em rgba(0, 0, 0, 0.8),
        0 0 3em 0.125em rgba(0, 0, 0, 0.6), 0 0 0.5em $clr-accent,
        0 0 1em 0.0625em $clr-accent inset;
    }
  }
}

@media (min-width: 35em) {
  .Header {
    &__logo {
      &--title {
        font-size: 2rem;
      }
    }
    &__icon {
      font-size: 2rem;
    }
  }
}
