@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

/* ------------------- */ 
/* Custom properties   */
/* ------------------- */

:root{
    --ff-body: 'Poppins', sans-serif;

    --fw-reg: 300;
    --fw-emph: 400;
    --fw-bold: 700;
    --fw-bolder: 900;

    --clr-light: 207 21% 92%;
    /* hex #E5EAEE rgb(229, 234, 238) */
    --clr-cool: 209 100% 20%;
    /* hex #003566 rgb(0, 53, 102) */
    --clr-dark: 216 100% 4%;
    /* hex #000814 rgb(0, 8, 20) */
    --clr-primary: 50 100% 52%;
    /* hex #FFD60A rgb(255, 214, 10)*/
    --clr-secondary: 46 100% 50%;
    /* hex #FFC300 rgb(255, 195, 0)*/

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 35em){
  :root {
    --fs-h1: 3.5rem;
  }
}

@media (min-width: 55em){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

body {
  background: hsl(var(--clr-dark));
  color: hsl(var(--clr-light));
  margin: 0;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
}


/* ------------------- */
/* Accessebility       */
/* ------------------- */


@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-200%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}
